<section class="section-main-page">
    <div>
      <caption class="capt-heading-section-main">Happiness blooms from within</caption>
      <p class="p-section-main">Our environment, the world in which we live and work, is a mirror of our attitudes and
        expectations.</p>
      <button class="bn-shop-now">Shop now</button>
      <button class="bn-explore-pl">Explore plants <img src="./assets/arrow.png"></button>
    </div>
    <div class="row">
      <div class="card1">
        <button class="b-main-new">New</button>
      </div>
      <div class="card2">
        <button class="b-main-new">Popular</button>
      </div>
      <div class="card3">
        <caption class="card3-main-caption">Anthurium Flower</caption>
        <p class="card3-main">The flower of human being. It has meaningful of fact that the plant always grow whatever season and weather...</p>
        <button class="b-main-new">READ MORE</button>
      </div>
    </div>
    <img src="./assets/pattern.png" class="pattern">
  </section>