<section>
   <div>
    <table *ngFor="let item of cartItems" class="cartway">
        <tr>
          <td><img src="{{ item.imgurl }}"></td>
          <td><p class="name">{{ item.title }}</p></td>
          <td><p class="cart-price">{{item.price}}</p></td>
        </tr>
      </table></div>
    <div>
        <table class="additionalinf">
            <tr>
              <td class="total"><p >total: {{ getTotalPrice() }} $</p></td>
            </tr>
            <button>checkout</button>
          </table>
          
   
</div>
  </section>
  