<main>
  <header>
    <a href="#"><img class="logoimg" src="./assets/logo.png"></a>
  </header>
  <nav class="nav">
    <div class="list-of-links">
      <a class="nav-link" aria-current="page" href="/features">Shop</a>
      <a class="nav-link" href="https://www.guide-to-houseplants.com/starting-seeds-indoors.html">Guide</a>
    </div>
    <div class="icons">
      <a href="/login"><img src="./assets/user-line.png"></a>
      <a routerLink="/cart"><img src="./assets/shopping-cart.png"></a>
    <span class="countOfItems">{{getTotalItemCount()}}</span>
  </div>
  </nav>
</main>
<!--<app-main></app-main>
<app-features></app-features>
<app-footer></app-footer>-->
<router-outlet></router-outlet>